<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %> | 
        </span>
        <% if current_user != user || !friends_check %>
          <%= link_to 'Send friend request', "/users/#{user.id}/send_friend", class: 'profile-link' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
