<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if current_user != @user %>
    <%= link_to 'Send friend request', send_friend_user_path, class: 'profile-link' %>
  <% end %>

  <% if @pending_requests.any? %>
    <h3>Pending friendship requests</h3>
    <ul>
      <% @pending_requests.each do |request| %>
        <li><%= request.friend.name %></li>
      <% end %>
    </ul>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
